<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/dashboardMed.css" />
    <title>DashBoard Médico</title>
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="sidebar__header">
      <section class="section__sidebar">
        <div class="container__sidebar">
          <div class="sidebar__icons__group">
            <a href=""><i class="fa-solid fa-bars"></i></a>
            <a href=""><i class="fa-solid fa-house"></i></a>
            <a href=""><i class="fa-solid fa-table-list"></i></a>
          </div>
        </div>
      </section>

      <header class="header__header">
        <div class="header__content">
          <nav>
            <ul>
              <li><img src="../public/imgs/logo_heart.png" alt="Logo" /></li>
              <li>
                <a href=""><i class="fa-solid fa-circle-user"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    </div>

    <section class="section__container"></section>
  </body>
</html>
