<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="formularioConsulta.css" />

    <title>Fazer Consulta</title>
  </head>
  <body>
    <!-- Formulário de Consulta -->
    <div class="form-container">
      <h2>Fazer Consulta</h2>
      <form action="/registrarConsulta" method="post">
        <div class="form-group">
          <label for="idMedico">ID do Médico:</label>
          <input
            type="text"
            id="idMedico"
            name="idMedico"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="idPaciente">ID do Paciente:</label>
          <input
            type="text"
            id="idPaciente"
            name="idPaciente"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="dataConsulta">Data da Consulta:</label>
          <input
            type="date"
            id="dataConsulta"
            name="dataConsulta"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="tipoConsulta">Tipo de Consulta:</label>
          <input
            type="text"
            id="tipoConsulta"
            name="tipoConsulta"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="statusConsulta">Status da Consulta:</label>
          <select
            id="statusConsulta"
            name="statusConsulta"
            class="form-control"
            required
          >
            <option value="ativa">Ativa</option>
            <option value="cancelada">Cancelada</option>
            <option value="realizada">Realizada</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Agendar Consulta
          </button>
        </div>
      </form>
    </div>

    <!-- Scripts do Bootstrap (jQuery e Popper.js são necessários para alguns componentes) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
