<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./public/home.css" type="text/css" />
    <title>Medico</title>
  </head>
  <body>
    <!-- Conteúdo Central -->
    <div>
      <img
        src="../public/logo.png"
        width="120"
        height="120"
        alt="Logo da Clínica"
        class="clinica-logo"
      />

      <!-- Box de Acesso -->
      <div class="acesso-box">
        <h4>Quem irá acessar?</h4>
        <a href="/cadastroPacientes" class="btn btn-primary mr-2">Paciente</a>
        <button class="btn btn-success">Médico</button>
      </div>
    </div>

    <!-- Scripts do Bootstrap (jQuery e Popper.js são necessários para alguns componentes) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
