<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./public/home.css" type="text/css" />
    <title>Medico</title>
  </head>
  <body>
    <section class="section__container">
      <div class="bg__home"></div>
      <div class="header__img">
        <img
          src="../public/imgs/heart__plus__logo.png"
          width="120"
          height="120"
          alt="Logo da Clínica"
          class="clinica-logo"
        />
      </div>

      <div class="acesso-box">
        <h4>Quem irá acessar?</h4>
        <a href="/cadastroPacientes" class="btn btn-primary mr-2">Paciente</a>
        <a href="/cadastroMedico" class="btn btn-danger mr-2">Médico</a>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
